# shipping-service/src/main/resources/application.yml
spring:
  cloud:
    stream:
      # Kafka ???? ?? ??
      kafka:
        binder:
          brokers: localhost:9092 # Kafka ?? ??

      # ??? ??? ???? ??? ??
      function:
        # 1. ???? ??? Bean ??? ??
        definition: onOrderPaid
      bindings:
        # 2. 'onOrderPaid' ??? '??(in)' ??? ?? ??
        # ??: <function-name>-<in/out>-<index>
        onOrderPaid-in-0:
          # 3. ? ??? ??? Kafka ??? ??
          destination: ecommerce.orders.paid
          # 4. Kafka ??? ?? ?? (?? ?? ???? ??? ???? ???? ??)
          group: shipping-service-group

# shipping-service? ???? Spring Cloud Stream? onOrderPaid?? ??? ??, 'ecommerce.orders.paid' ??? ???? kafka ???? ???? ???? ????.
# ??? ?? : kafka?? ?? ??? ????. shipping-service? ?? ?(????)? ??????, ??? groupId? ???? ??????? ??? ???? ? ??? ???? ????.