# shipping-service/src/main/resources/application.yml
spring:
  cloud:
    stream:
      # Kafka ???? ?? ??
      kafka:
        binder:
          brokers: localhost:9092 # Kafka ?? ??

      # ??? ??? ???? ??? ??
      function:
        # 1. ???? ??? Bean ??? ??
        definition: onOrderPaid
      bindings:
        # 2. 'onOrderPaid' ??? '??(in)' ??? ?? ??
        # ??: <function-name>-<in/out>-<index>
        onOrderPaid-in-0:
          # 3. ? ??? ??? Kafka ??? ??
          destination: ecommerce.orders.paid
          # 4. Kafka ??? ?? ?? (?? ?? ???? ??? ???? ???? ??)
          group: shipping-service-group
# shipping-service? ???? Spring Cloud Stream? onOrderPaid?? ??? ??, 'ecommerce.orders.paid' ??? ???? kafka ???? ???? ???? ????.
# ??? ?? : kafka?? ?? ??? ????. shipping-service? ?? ?(????)? ??????, ??? groupId? ???? ??????? ??? ???? ? ??? ???? ????.

  kafka:
    consumer:
      bootstrap-servers: localhost:9092
      # 1. ??? ?? ID
      group-id: shipping-service-group
      # 2. ??? ??? ??? ??, ??? ?? ???? ???? ???
      auto-offset-reset: earliest
      # 3. ??? ? ????
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      # 4. ??? ?(JSON) ????
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        # 5. JsonDeserializer? ????? ??? ???? ????? ??
        spring.json.trusted.packages: "com.ecommerce.shipping.event"